<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="runningshop.orderingSystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".conf.util.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.CustomerMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="item_add" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.customer.Impl.CustomerServiceImpl"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.shop.Impl.AddSupplierServiceImpl"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.shop.Impl.AddItemServiceImpl"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.employee.Impl.AddEmployeeServiceImpl"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.employee.Impl.EmployeeLoginImpl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.shop.Impl.SupplierRemoveServiceImpl"
            android:exported="false" />

        <activity android:name=".activities.customers.ConfirmCustomer" />
        <activity android:name=".activities.customers.ViewCustomer" />
        <activity android:name=".activities.customers.RegisterCustomer" />

        <service
            android:name=".services.customer.Impl.ViewAllCustomers"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activities.employees.EmployeeMenu" />
        <activity
            android:name=".activities.employees.RegisterEmployee"
            android:label="@string/title_activity_register_employee" />
        <activity
            android:name=".activities.employees.EmployeeConfirm"
            android:label="@string/title_activity_employee_confirm" />
        <activity
            android:name=".activities.employees.ViewEmployees"
            android:label="@string/title_activity_view_employees" />
        <activity android:name=".activities.customers.Delete" />
        <activity android:name=".activities.customers.Update" />

    </application>

</manifest>